
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBoldItalic.eot');
    src: local('../fonts/Muller Bold Italic'), local('../fonts/MullerBoldItalic'),
        url('../fonts/MullerBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBoldItalic.woff2') format('woff2'),
        url('../fonts/MullerBoldItalic.woff') format('woff'),
        url('../fonts/MullerBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.eot');
    src: local('../fonts/Muller Medium'), local('../fonts/MullerMedium'),
        url('../fonts/MullerMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerMedium.woff2') format('woff2'),
        url('../fonts/MullerMedium.woff') format('woff'),
        url('../fonts/MullerMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.eot');
    src: local('../fonts/Muller Bold'), local('../fonts/MullerBold'),
        url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerExtraBold.eot');
    src: local('../fonts/Muller ExtraBold'), local('../fonts/MullerExtraBold'),
        url('../fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerExtraBold.woff2') format('woff2'),
        url('../fonts/MullerExtraBold.woff') format('woff'),
        url('../fonts/MullerExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Muller Regular';
    src: url('../fonts/MullerRegularItalic.eot');
    src: local('../fonts/Muller Regular Italic'), local('../fonts/MullerRegularItalic'),
        url('../fonts/MullerRegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerRegularItalic.woff2') format('woff2'),
        url('../fonts/MullerRegularItalic.woff') format('woff'),
        url('../fonts/MullerRegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMediumItalic.eot');
    src: local('../fonts/Muller Medium Italic'), local('../fonts/MullerMediumItalic'),
        url('../fonts/MullerMediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MullerMediumItalic.woff2') format('woff2'),
        url('../fonts/MullerMediumItalic.woff') format('woff'),
        url('../fonts/MullerMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: local('../fonts/Raleway Medium'), local('../fonts/Raleway-Medium'),
        url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: local('../fonts/Raleway Bold'), local('../fonts/Raleway-Bold'),
        url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}