// Other
p, h1, h2, h3, h4, h5, h6
	margin: 0
	padding: 0

ul
	list-style: none
	padding: 0
	margin: 0
a
	text-decoration: none
	color: $black

input, button
	border: none
	outline: none
	padding: 0	

*
	transition: all, .2s, easy 	

// Contacts
.contacts
	display: flex
	flex-direction: column
	align-items: flex-end
	&__phone
		font-family: 'Muller'
		font-weight: bold
		font-size: 20px	
	&__adress
		font-size: 11px
		color: $grey
	&-wrapper
		display: flex
	&__icon
		height: 18px
		width: 18px
		margin-right: 8px
//Social
.social 
	display: flex
	flex-basis: 10%
	justify-content: space-between
	&__item	
		height: 24px
		width: 24px
//Navigation
.nav
	display: flex			
.line
	border-left: 2px solid $grey	
	height: 16px
.nav
	&__item
		font-size: 14px
		margin-right: 20px	
		&:last-child
			margin-right: 0px
//Title
.title
	font-family: 'Muller', sans-serif
	font-weight: 800
	font-size: 46px		
.descr
	font-family: "Muller"
	font-size: 14px
	font-weight: 600	
//Button
.button
	box-shadow: 0 3px 0 #c9a21b
	border-radius: 21px
	background-color: $gold	
	font-family: Raleway
	font-size: 12px
	font-weight: 700
	padding: 15px 30px
	cursor: pointer
	&:hover
		background-color: $hover
	&:active
		background-color: $active
//Slider Dots
.dots
	display: flex
	align-items: flex-start
	justify-content: center
	&__item
		margin-right: 10px
		cursor: pointer	
		&:last-child
			margin-right: 0		
.container__arrow
	position: relative
.slider-wrapper
	display: flex
	align-items: center
	justify-content: space-between	
//Slider Arrow
.arrow::before, .arrow::after
		content: ''
		width: 30px
		height: 50px
		z-index: 999
		cursor: pointer
		display: block
		position: absolute
		top: 50%
		margin-top: -50px
.arrow
	&::before
		background-image: url('../img/discount/arrow_left.png')
		left: 0
	&::after
		background-image: url('../img/discount/arrow_right.png')			
		right: 0
//Icon
.hit::after,.action::after	
	content: ''
	width: 41px
	height: 41px
	position: absolute
	top: 2%
	right: 2%
	z-index: 999
.hit::after
	background-image: url('../img/products/hit.png')
.action::after
	background-image: url('../img/products/action.png')
//Dog background
.dog::after,.dog-1::after,.dog-2::after
	content: ''
	position: absolute
	z-index: 8
.dog::after
	background: url('../img/products/dog-bg-1.png') no-repeat
	width: 278px
	height: 308px
	top: 63%
	left: 85%
.dog-1::after
	background: url('../img/products/dog-bg-2.png') no-repeat
	width: 344px
	height: 381px
	top: 59%
	left: -22%
.dog-2::after
	background: url('../img/products/dog-bg-3.png') no-repeat	
	width: 487px
	height: 338px
	right: -12%
	top: -12%
	

